# gitignore
#.ruby-gemset
#.ruby-version
#Gemfile.lock
#vendor/Pods/
$RECYCLE.BIN/
*$py.class
*,cover
*.7z
*.a
*.app
*.bridgesupport
*.bz2
*.bzip
*.cab
*.deb
*.dll
*.dmg
*.DS_Store
*.dSYM/
*.dylib
*.egg
*.egg-info/
*.elf
*.exe
*.gch
*.gem
*.gz
*.hex
*.i*86
*.iso
*.jar
*.ko
*.la
*.lib
*.lnk
*.lo
*.log
*.lzma
*.manifest
*.mo
*.msi
*.msm
*.msp
*.o
*.obj
*.out
*.pch
*.pot
*.py[cod]
*.rar
*.rbc
*.rpm
*.so
*.so.*
*.spec
*.stTheme.cache
*.su
*.sublime-workspace
*.tar
*.tmlanguage.cache
*.tmPreferences.cache
*.x86_64
*.xpi
*.xz
*.zip
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.dat*
.directory
.DocumentRevisions-V100
.eggs/
.env
.fseventsd
.fuse_hidden*
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.netrwhist
.Python
.python-version
.repl_history
.ropeproject
.rvmrc
.scrapy
.Spotlight-V100
.spyderproject
.TemporaryItems
.tox/
.Trash-*
.Trashes
.VolumeIcon.icns
.webassets-cache
/.bundle/
/.config
/.yardoc/
/_yardoc/
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
[Ss]ession.vim
__pycache__/
bh_unicode_properties.cache
build-iPhoneOS/
build-iPhoneSimulator/
build/
celerybeat-schedule
coverage.xml
Desktop.ini
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
ehthumbs.db
env/
ENV/
env3/
ENV3/
GitHub.sublime-settings
htmlcov/
Icon
instance/
lib/
lib64/
local_settings.py
Network Trash Folder
nosetests.xml
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
sftp-config.json
tags
target/
Temporary Items
Thumbs.db
var/
venv/
